node_modules
dist
build
./coverage
./logs
./temp
./test-results
./test-reports
./test-results
.DS_Store
src/tools/robot.ts
src/scripts/eval-results/
src/tools/documentation/uploads/embeddings-*.json
package-lock.json
.idea
.vscode
tsconfig.tsbuildinfo
